@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>
<h3>Övning 12: Garage 2.0 - återkomsten</h3>

<p>Garaget är en programmeringsövning i ASP.NET MVC! Då detta är den första MVC-baserade
garageversionen så beskriver vi inte uppgiften i sin helhet, vi demar den på 15 minuter istället</p>
