@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>
<h3>Övning 12: Garage 2.5 - This isn't even the final form</h3>

<p>Garaget 2.5 är en programmeringsövning i ASP.NET MVC med automatisk funktion för relationer i databaser!
    Dokumentation av detta program finns inte att läsa här då denna garageversionen endast är en delversion
    och den version som ska driftsättas kommer i en nära framtid, vi demar denna på 15 minuter istället :-) </p>
