@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    Lexicon .NET MVC4-gruppen<br />
    Årstaängsvägen 9<br />
    117 43 Stockholm<br />
    <abbr title="Phone">tel:</abbr>
    +46856610700
</address>

<address>
    <strong>Webmaster:</strong>   <a href="mailto:nisaw99@hotmail.com">nisaw99@hotmail.com</a><br />
    <strong>Programer:</strong> <a href="mailto:vitastjern@gmail.com">vitastjern@gmail.com</a><br />
    <strong>Marketing:</strong>   <a href="mailto:kenneth.forsstrom@hotmail.com">kenneth.forsstrom@hotmail.com</a><br />
</address>