@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
<div class="row">
        <div class="fill-screen fixed-attachment" style="background-image: url('https://c2.staticflickr.com/4/3141/3079478481_d2ace6d532_b.jpg')">
            <h1>Garaget 2.0 - Återkomsten</h1>
            <h3>Den här gången med MVC!</h3>
            @*<img class="fill-screen fixed-attachment" src="https://c2.staticflickr.com/4/3141/3079478481_d2ace6d532_b.jpg" />*@
        </div>
    </div>
