@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <h1>Garaget 2.5 - This isn't even the final form</h1>
    <h3>Gratis parkering vid medlemsskap</h3>

<div class="row">
        <div class="img-responsive img-circle fill-screen fixed-attachment" style="background-image: url('http://s.petrolicious.com/garages/fantasy-garage/alfa-romeo-dream-garage-6.jpg')">

            @*<img class="fill-screen fixed-attachment" src="https://c2.staticflickr.com/4/3141/3079478481_d2ace6d532_b.jpg" />*@
        </div>
    </div>
</div>
