@model IEnumerable<garaget_2.Models.Vehicle>

<div id="VehicleList">


    @foreach (var item in Model)
    {
        <div>
            <h4>@item.RegNr</h4>
            <div>@item.Brand, @item.Model</div>
            <div>Reviews:@Html.ActionLink("Checka ut", "Delete", new { id = item.VehicleId })</div>
            <hr />
        </div>
    }
</div>
