body {
    padding-top: 50px;
    padding-bottom: 20px;
   
 background-image: url("http://static.tumblr.com/21d1bfaccd7301b1174698d9ca434462/tinqxsd/DwWnmx677/tumblr_static_bf68b8gfk0ocgokw4w8o0go04.jpg");


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.rubrik {
    font-weight: bold;
}

.fill-screen {
    padding-bottom:80px;
    padding-top:50px;
    background-size:cover;
    background-position:center;
    opacity: 0.8;
    /*filter: alpha(opacity=40); *//* For IE8 and earlier */
}

.fill-screen h1,h3 {
    font-weight:bolder;
    opacity: 1;
}



.fixed-attachment {
    background-attachment: fixed;
}

